@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sf-pro: var(--font-sf-pro-display), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font-sf-pro);
}


html {
  scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; padding: 0;}

